<tr>
	<td><%= h(person.full_name) %></td>
	<td><%= h(person.date_of_birth) %></td>
	<td><%= h(person.county) %></td>
	<td><%= h(person.telephone_number) %><br /><%= h(person.email_address) %></td>
	<td>
		<% if !person.employee.nil? %>
			<%= h(person.employee.organisation) %>
		<% elsif !person.outside_person.nil? %>
			<%= h(person.outside_person.organisation) %>
		<% end%>
	</td>
	<td>
		<ul class="hor-list piped">
			<% if can? :show, person %>
				<li><%= link_to "View", person_path(person) %></li>
			<% end %>
			<% if can? :edit, person %>
				<li><%= link_to "Edit", edit_person_path(person) %></li>
			<% end %>
			<% if can? :destroy, person %>
				<li><%= link_to "Delete", person, :confirm => "Are you sure you want to delete this person?", :method => :delete %></li>
			<% end %>
		</ul>
	</td>
</tr>