<%= box_widget "Person information" do %>
	<%= form.inputs do %>
		<li id="referral_person_full_name_input" class="string input required stringish">
			<%= label_tag :referral_person_full_name, 'Person<abbr title="required">*</abbr>'.html_safe, :class => "label" %>
			<% if @allow_edit %>
				<%= form.autocomplete_field :person_full_name, autocomplete_person_full_name_referrals_path, :id_element => '#referral_person_id', :size => "28" %>
				<%= form.semantic_errors :person_id %>
				<%= hidden_field :referral, :person_id %>
				<!-- <a href="javascript:void(0)" id="show-all-people" class="icon list" original-title="Show all people" title="Show all people">Show all people</a> -->
				<%= render 'shared/person_information', :person => @referral.person %>
				<p class="inline-hints">Begin typing to get suggestions</p>
			<% else %>
				<%= render 'shared/person_information', :person => @referral.person, :show_name => true %>
			<% end %>
		</li>
		
		<% if @allow_edit %>
			<%= form.input :patient_status, :collection => @patient_statuses.map {|u| [u.status, u.id]} %>
		<% else %>
			<%= form.input :patient_status, :as => :string, :input_html => {:readonly => true} %>
		<% end %>
	<% end %>
<% end %>

<%= box_widget "Case information" do %>
	<%= form.inputs do %>
		<% if @allow_edit %>
			<%= form.input :case_nature, :as => :text, :hint => "Describe what is wrong with the patient" %>
			<%= form.input :job_information, :as => :text, :hint => "Please give details of current job rotation" %>
			<%= form.input :history, :as => :text, :hint => "Please detail background to case" %>
		<% else %>
			<%= form.input :case_nature, :as => :text, :input_html => {:readonly => true} %>
			<%= form.input :job_information, :as => :text, :input_html => {:readonly => true} %>
			<%= form.input :history, :as => :text, :input_html => {:readonly => true} %>
		<% end %>
	<% end %>
<% end %>

<%= box_widget "If person is currently off sick please complete" do %>
	<%= form.inputs do %>
		<% if @allow_edit %>
			<%= form.input :sickness_started, :as => :datepicker, :label => "Date sickness absence started" %>
			<%= form.input :sicknote_expires, :as => :datepicker, :label => "Date current sicknote expires" %>
		<% else %>
			<%= form.input :sickness_started, :as => :string, :input_html => {:readonly => true} %>
			<%= form.input :sicknote_expires, :as => :string, :input_html => {:readonly => true} %>
		<% end %>
	<% end %>
<% end %>

<%= box_widget "Attach referral letter and any supporting documents below" do %>
	<%= form.inputs :class => "nested-attributes" do %>
		<li class="string input">
			<%= label_tag :referral_person_full_name, 'Attached files'.html_safe, :class => "label" %>
			<div class="file-list">
			<%= form.semantic_fields_for :documents do |doc| %>
				<% if !doc.object.new_record? %>
					<%= render 'shared/document_fields', :f => doc %>
				<% end %>
			<% end %>
			</div>
		</li>
		<li class="string input">
			<%= label_tag :referral_person_full_name, 'Upload files'.html_safe, :class => "label" %>
			<div id="upload-file-list" class="file-list">
			<%= form.semantic_fields_for :documents do |doc| %>
				<% if doc.object.new_record? %>
					<%= render 'shared/document_fields', :f => doc %>
				<% end %>
			<% end %>
			</div>
			<div class="button">
				<%= button_to_add_fields "Add document", form, :documents, {:class => "btn small grey", :id => "referral-file-to-upload"}, "upload-file-list" %>
			</div>
		</li>
	<% end %>
<% end %>

<%= box_widget "Submit referral" do %>
	<%= form.inputs do %>
		<% if @allow_edit %>
			<%= form.input :referral_reason, :collection => @referral_reasons.map {|u| [u.reason, u.id]}, :input_html => {:style => "width:315px;"} %>
			<%= form.input :operational_priority, :collection => @operational_priorities.map {|u| [u.operational_priority, u.id]} %>
		<% else %>
			<%= form.input :referral_reason, :as => :string, :input_html => {:readonly => true} %>
			<%= form.input :operational_priority, :as => :string, :input_html => {:readonly => true} %>
		<% end %>
		<%= form.input :followers, :input_html => {:id => "cmx-token-input", :class => "clean", :suggestions_url => followers_suggestions_referrals_path}, :include_blank => true, :hint => "Add other people that can track this referral" %>
	<% end %>
	<%= form.buttons do %>
		<%= form.commit_button :label => @submit_label, :button_html => {:class => "btn large orange auto"} %>
	<% end %>
<% end%>