<tr class="<%= "canceled" if referral.canceled? %>">
	<td>
		<span class="icon <%= referral.state %> left" original-title="Referral is <%= referral.state %>"></span>
		<%= "<span class=\"icon attachments left\" original-title=\"Has attachments\"></span>".html_safe if not referral.documents.empty? %>
		<%= "<span class=\"icon private left\" original-title=\"Referral is private\"></span>".html_safe if referral.private? %>
	</td>
	<td><%= h(referral.case_reference_number) %></td>
	<td><%= h(referral.person.full_name) %></td>
	<td><%= h(referral.short_case_nature) %></td>
	<td><%= h(referral.referral_reason.reason) %></td>
	<td><%= h(referral.created_at.to_date) %></td>
	<td>
		<ul class="hor-list piped">
			<% if can? :show, referral %>
				<li><%= link_to "View", referral_path(referral) %></li>
			<% end %>
			<% if can? :edit, referral %>
				<li><%= link_to "Edit", edit_referral_path(referral) %></li>
			<% end %>
			<% if can? :cancel, referral %>
				<li><%=
					if referral.passes_late_cancelation_condition?
						link_to "Cancel", cancel_referral_path(referral.id), :data => {:prompt => "Are you sure you want to cancel this referral? This action will also cancel any appointments associated."}, :class => "cancel"
					else
						link_to "Cancel", cancel_referral_path(referral.id), :data => {:warn => "An appointment has been scheduled in the next 48 hours.  Please contact a member of staff from IOH directly."}, :class => "cancel"
					end
				%></li>
			<% end %>
			<% if can? :destroy, referral %>
				<li><%= link_to "Delete", referral, :data => {:confirm => "Are you sure you want to delete this referral?"}, :method => :delete %></li>
			<% end %>
		</ul>
	</td>
</tr>