<% title "Referrals" %>
<div class="grid_16 widget first">
    <div class="widget_title clearfix">
        <h2>List</h2>
		<ul>
			<li><%= link_to "New referral", new_referral_path, :class => "btn orange right" %></li>
		</ul>
    </div>
    <div class="widget_body">
		<div class="widget_options clearfix">
			<%= form_tag referrals_path, :remote => true, :method => "get", :id => "search-form" do %>
				<div class="dataTables_filter">
					Search: 
					<%= submit_tag "Search", :class => "small grey right" %>
					<input type="text" name="search" id="search">
				</div>
			<% end %>
		</div>
		<table>
			<thead>
				<tr>
					<td style="width:40px">&nbsp;</td>
					<td style="width:90px"><%= sortable "case_reference_number" %></td>
					<td style="width: 110px;">Person</td>
					<td>Case nature</td>
					<td style="width: 140px;">Referral Reason</td>
					<td style="width: 110px;"><%= sortable "created_at" %></td>
					<td class="action">Action</td>
				</tr>
			</thead>
			<tbody id="referrals">
				<% @referrals.each do |referral| %>
					<%= render 'referral', :referral => referral %>
				<% end %>
			</tbody>
		</table>
		<div id="referrals-paginator"><%= paginate @referrals, :remote => true %></div>
    </div>
</div>
