<% title "Referrals" %>
<div class="grid_16 widget first">
    <div class="widget_title clearfix">
        <h2>List</h2>
		<ul>
			<li><%= link_to "New referral", new_referral_path, :class => "btn orange right" %></li>
		</ul>
    </div>
    <div class="widget_body">
		<div class="widget_options clearfix">
		</div>
		<table>
			<thead>
				<tr>
					<td>Person</td>
					<td>Case nature</td>
					<td>Referral reason</td>
					<td>Status</td>
					<td>Action</td>
				</tr>
			</thead>
			<tbody>
				<% @referrals.each do |referral| %>
				<tr>
					<td><%= h(referral.person.full_name) unless referral.person == nil %></td>
					<td><%= h(referral.case_nature) %></td>
			  		<td><%= h(referral.referral_reason.reason) %></td>
			  		<td>&nbsp;</td>
			  		<td>
			  			<ul class="hor-list piped">
			  				<li><%= link_to "View", referral_path(referral) %></li>
			  				<li><%= link_to "Edit", edit_referral_path(referral) %></li>
			  				<li><a href="#">Delete</a></li>
			  			</ul>
			  		</td>
				</tr>
				<% end %>
			</tbody>
		</table>
    </div>
</div>
