<%= semantic_form_for @referral, :url => referrals_path, :html => {:id => "new_referral"} do |form| %>
	<%= form.inputs do %>
		<li id="referral_patient_full_name_input" class="string input required stringish">
			<%= label_tag :referral_patient_full_name, 'Patient<abbr title="required">*</abbr>'.html_safe, :class => "label" %>
			<%= form.autocomplete_field :patient_full_name, autocomplete_patient_full_name_referrals_path, :id_element => '#referral_patient_id', :required => true %>
			<%= form.semantic_errors :patient_id %>
		</li>
		<%= form.input :patient_id, :as => :hidden %>
		<% #= form.autocompleted_input :patient_full_name, :url => autocomplete_patient_full_name_referrals_path %>
		<%= form.input :patient_status_id, :as => :select, :collection => @patient_statuses.map {|u| [u.status, u.id]} %>
		<%= form.input :case_nature, :as => :text %>
		<%= form.input :specific_requirements, :as => :text %>
		<%= form.input :advice, :as => :text %>
		<%= form.input :referral_reason_id, :as => :select, :collection => @referral_reasons.map {|u| [u.reason, u.id]} %>
		<%= form.input :preferred_date, :as => :datepicker %>
		<%= form.input :patient_consent, :as => :boolean %>
	<% end %>
	<%= form.buttons do %>
		<%= form.commit_button %>
	<% end %>
<% end %>