<% title "View referral for " << @referral.person.full_name << " / " << @referral.case_reference_number %>

<% box_extra = link_to "Edit referral", edit_referral_path(@referral), :class => "btn orange right" %>
<%= box_widget "Referral information", {:body_class => "information"}, [box_extra] do %>
	<ul>
		<li><span class="label">Person</span>: <%= @referral.person.full_name %><br /><%= render 'shared/person_information', :person => @referral.person %></li>
		<li><span class="label">Patient status</span>: <%= @referral.patient_status.status %></li>
		<li><span class="label">Patient consent</span>: <%= @referral.show_patient_consent %></li>
		<li><span class="label">Referral Reason</span>: <%= @referral.referral_reason.reason %></li>
		<li><span class="label">Preferred date</span>: <%= @referral.preferred_date %></li>
	</ul>	
	<div class="clear"></div>
	<p><span class="label">Case nature</span>: <%= @referral.case_nature %></p>
	<p><span class="label">Specific requirements</span>: <%= @referral.specific_requirements %></p>
	<p><span class="label">Advice</span>: <%= @referral.advice %></p>
	<p><span class="label">Documents</span>: <%= show_documents @referral.documents %></p>
<% end %>

<% if @referral.appointment %>
	<%
		if @referral.appointment.confirmed
			appointment_message = "You confirmed the appointment for"
			confirm_extra = ""
		else
			appointment_message = "An appointment was created for this referral"
			confirm_extra = link_to "Confirm appointment", confirm_appointment_path(@referral.appointment), :class => "btn orange right"
		end
	%>
	<%= box_widget "Appointment", {}, [confirm_extra] do %>
		<p><%= appointment_message %>: <b><%= @referral.appointment.display_date %></b> with <%= @referral.appointment.diary.name %></p>
	<% end %>
<% end %>
