<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.label :username, :class => "block" %>
  <%= f.text_field :username %>

  <%= f.label :password, :class => "block" %>
  <%= f.password_field :password %>

  <div style="margin-top:10px">
    <div class="left" style="margin-top:10px">
      <%= render :partial => "devise/shared/links" %>
    </div>
  	<%= f.submit "Sign in", :class => "right" %>
  </div>
<% end %>
<div class="clear"></div>